
<div class="container">

    <% @movies_array.each do |movie| %>
        <%= link_to movie_path(movie), class:'text-decoration-none' do  %>
          <div class="border-bottom row col-lg-12 mt-5 pb-5 d-flex justify-content-around align-center">
            <div class="col-4 poster-movie-index ">
              <%= image_tag  "https://image.tmdb.org/t/p/w500#{movie.poster_url}", class: 'movie-img-index rounded' %>
            </div>

            <div class="col-8 movies-infos-index align-self-center">
              <h3><%= movie.title %></h3>
              <br>
              <span class="item-genero"> Gênero: </span> <span class="info-genero"> <%= "#{movie.genre}"%></span><br>
              <br>
              <p> <%= movie.overview.slice(0,400)+(movie.overview.length > 400 ? "..." : "") %></p>
            </div>
          </div>
        <% end %>
    <% end %>

</div>
