<div class="container mt-5">

  <div class="row ">
    <div class="col text-center">
      <%= image_tag "avatar_emerson", class: "avatar-credits img-fluid height:100%" %><br>
      <h3 class="pt-3">Emerson W. Silva</h3>
        <%= link_to "https://github.com/EmersonWSilva", target: :_blank, class:"text-decoration-none", method: :get do %>
          <button id="github"><i class="fab fa-github icones p-2"></i></button>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/emrsn/", target: :_blank, class:"text-decoration-none", method: :get do %>
          <button id="github"><i class="fab fa-linkedin icones p-2"></i></button>
        <% end %>
    </div>
    <div class="col text-center">
      <%= image_tag "avatar_julia", class: "avatar-credits img-fluid height:100%" %><br>
      <h3 class="pt-3">Julia Fachin</h3>
        <%= link_to "https://github.com/JuliaFSO", target: :_blank, class:"text-decoration-none", method: :get do %>
          <button id="github"><i class="fab fa-github icones p-2"></i></button>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/juliafachin/", target: :_blank, class:"text-decoration-none", method: :get do %>
          <button id="github"><i class="fab fa-linkedin icones p-2"></i></button>
        <% end %>
    </div>
    <div class="col text-center">
      <%= image_tag "avatar_thais", class: "avatar-credits img-fluid height:100%" %><br>
      <h3 class="pt-3">Thais Freire</h3>
        <%= link_to "https://github.com/tmfreire", target: :_blank, class:"text-decoration-none", method: :get do %>
          <button id="github"><i class="fab fa-github icones p-2"></i></button>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/thaïs-freire", target: :_blank, class:"text-decoration-none", method: :get do %>
          <button id="github"><i class="fab fa-linkedin icones p-2"></i></button>
        <% end %>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col-12 text-center pt-4">
    <h3 class="h3-credits">Agradecimentos</h3>
    <p class="p-credits">
    Agradecemos à equipe Le Wagon, aos professores, aos TAs e a toda família que fizemos ao longo do bootcamp.
    Gostaríamos de agradecer também em especial a <strong>Mariana Marinho</strong>, <strong>Ed Colen</strong> e <strong>Ale Castello</strong>.  
    </p>
    </div>
  </div>

</div>