<div  class="container mt-3">

  <%= render 'shared/carousel'  %>

  <div class="d-flex row justify-content-center mt-3">
    <% if @movie_picks.present? %> 
      <div class="movie-container-up mt-4 title-container-up">
        <%= image_tag  "https://image.tmdb.org/t/p/w500#{@movie_picks.movie.poster_url}", class: 'movie-img-up rounded' %>
        <p> <%= @movie_picks.movie.title %> <p/>
      </div>
    <% else %>
      <h1> Você não tem nenhum filme dessa categoria em sua lista! </h1>
    <% end %>  
  </div>
</div>

<%= render 'shared/background_button_user' %>

  <div> 
    <% @genres.each do |genre| %>
      <%= link_to genre, dashboard_path(query: genre), class: "mr-3" %>
    <% end %>
  </div>

</div>
