
<div  class="container mt-3 d-flex flex-row justify-content-around">
  <%= render 'shared/carousel_dashboard' %>
</div>

<div class="w-100 text-center mt-4">
  <h2>Você também pode selecionar o filme de acordo com o mood do dia!
    <br>Veja abaixo.</h2>
</div>

<%= render 'shared/background_button_user' %>

  <div class="w-100 text-center p-5">
    <h2 class="mb-5">Qual seu mood do dia?</h2>
    <% @genres.each do |genre| %>
      <% sanitized_genre = genre.present? ? genre.strip : nil %>
      <% if Rails.application.assets.find_asset("#{sanitized_genre}.png").to_s == "" %>
        <%= link_to sanitized_genre, "?query=#{sanitized_genre}", class: "genre" if sanitized_genre.present? %>
      <% else %>
        <%= link_to "?query=#{sanitized_genre}", class: "mr-3" do %>
          <%= image_tag("#{sanitized_genre}.png", class: "genre-image") %>
        <% end if sanitized_genre.present? %>
      <% end %>
    <% end %>
  </div>

</div>
