<div  class="container mt-3">
  <div class="d-flex row justify-content-center mt-3">
    <% if @movie_picks.present? %> 
      <div class="movie-container-up mt-4 title-container-up">
        <%= image_tag  "https://image.tmdb.org/t/p/w500#{@movie_picks.movie.poster_url}", class: 'movie-img-up rounded' %>
        <p> <%= @movie_picks.movie.title %> <p/>
      </div>
    <% else %>
      <h1> Você não tem nenhum filme dessa categoria em sua lista! </h1>
    <% end %>  
  </div>

    <%= link_to "Match Page", user_preferences_path %>


  <br>
  <div> 
    <%= link_to "Ação", dashboard_path(query: "Ação"), class: "mr-3" %>
    <%= link_to "AnimaÇão", dashboard_path(query: "Animação"), class: "mr-3"  %>
    <%= link_to "Aventura", dashboard_path(query: "Aventura"), class: "mr-3"  %>
    <%= link_to "Comédia", dashboard_path(query: "Comédia"), class: "mr-3"  %>
    <%= link_to "Crime", dashboard_path(query: "Crime"), class: "mr-3"  %>
    <%= link_to "Documentário", dashboard_path(query: "Documentário"), class: "mr-3" %>
    <%= link_to "Drama", dashboard_path(query: "Drama"), class: "mr-3"  %>
    <%= link_to "Faroeste", dashboard_path(query: "Faroeste"), class: "mr-3"  %>
    <%= link_to "Ficção científica", dashboard_path(query: "Ficção científica"), class: "mr-3"  %>
    <%= link_to "Mistério", dashboard_path(query: "Mistério"), class: "mr-3"  %>
    <%= link_to "Música", dashboard_path(query: "Música"), class: "mr-3"  %>
    <%= link_to "Romance", dashboard_path(query: "Romance"), class: "mr-3"  %> 
    <%= link_to "Terror", dashboard_path(query: "Terror"), class: "mr-3"  %>
    <%= link_to "Thriller", dashboard_path(query: "Thriller"), class: "mr-3"  %> 
  </div>
</div>
  <br>
  <% genres = [] %>
  <% Movie.all.each do |m| %>
    <% genres << m.genre %>
  <% end %>

  <% genres.uniq %>
