<div  class="container mt-3 d-flex flex-row justify-content-around">
  <div class="mt-3">
    <% if @movie_picks.present? %> 
      <div class="movie-container-up mt-4 title-container-up">
        <%= image_tag  "https://image.tmdb.org/t/p/w500#{@movie_picks.movie.poster_url}", class: 'movie-img-up rounded img-fluid width:100%' %>
        <p> <%= @movie_picks.movie.title %> <p/>
      <% else %>
        <h1> Você não tem nenhum filme dessa categoria em sua lista! </h1>
      <% end %>
      </div>
  </div>
</div>

<div class="w-100 text-center">
  <h2>Você também pode selecionar o filme de acordo com o mood do dia! Veja abaixo.</h2>
</div>

<%= render 'shared/background_button_user' %>

  <div class="w-100 text-start p-5">
    <h2>Qual seu mood do dia?</h2>
    <% @genres.each do |genre| %>
      <% if Rails.application.assets.find_asset("#{genre}.png") %>
        <%= link_to image_tag("#{genre}.png"), dashboard_path(query: genre), class: "mr-3" %>
      <% else %>
        <%= link_to image_tag("#{genre}.png"), dashboard_path(query: genre), class: "mr-3" %>
      <% end %>
    <% end %>
  </div>

</div>
