<%= render 'shared/banner'%>

<div class="row w-120 mx-auto mb-5 pt-5 col-10">
    <h2 class="title-home align-items-left mt-3 ml-3 mb-4">Os mais populares</h2>
  <div class="justify-content-center">

    <div class="justify-content-around d-flex flex-wrap h-20 align-items-center mx-auto">
      <% @movies_array.each do |movie| %>
        <div class="movie-container-home">
        <%= link_to movie_path(movie), class:'text-decoration-none' do %>
          <%=image_tag "https://image.tmdb.org/t/p/w500#{movie.poster_url}", class: 'movie-img-home rounded' %>
            <div class="title-container-home rounded">
              <p><%= movie.title.slice(0,18)+(movie.title.length > 18 ? "..." : "") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user %>
  <%= render 'shared/background_button_user' %>
<% else %>
  <%= render 'shared/background_button' %>
<% end %>
