<div class="d-flex row justify-content-center mt-3">

  <div class="justify-content-around col-6 d-flex align-items-center mt-4">
 
    <div class="movie-container-up">
    <%= link_to movie_path(@pick.movie) do %>
      <%=image_tag "https://image.tmdb.org/t/p/w500#{@pick.movie.poster_url}", class: 'movie-img-up rounded' %>
        <div class="title-container-up">
          <p><%= @pick.movie.title.slice(0,27)+(@pick.movie.title.length > 27 ? "..." : "") %></p>
        </div>
      </div>
    <% end %>
    
    <div class="round-botton align-items-center justify-content-center">
      <%= link_to refuse_path(@pick), method: :patch do %>
        <%= image_tag "https://res.cloudinary.com/dsjv33crm/image/upload/v1623365865/indicaria/button_refuse_c7xy1b.png" %>
      <% end %>
    </div>

    <div class="round-botton align-items-center justify-content-center">
      <%= link_to  watch_movie_path(@pick), method: :patch do %>
        <%= image_tag "https://res.cloudinary.com/dsjv33crm/image/upload/v1623365865/indicaria/button_check_p2egbe.png" %>
      <% end %>
    </div>

    <div class="round-botton align-items-center justify-content-center">
      <%= link_to   add_to_watch_list_path(@pick), method: :patch do %>
        <%= image_tag "https://res.cloudinary.com/dsjv33crm/image/upload/v1623365865/indicaria/button_heart_vbbkng.png" %>
      <% end %>
    </div>
  </div>
</div>
